Repository bit-bots/bitbots_main, pull requests merged in 2024-05, with the labels that each got.

#441 Make pass accept position blocking
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/go_to.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/go_to_pass_position.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
Labels: bug, behavior

#449 Fix odomfuser deadlock by ignoring old fused times
  bitbots_motion/bitbots_odometry/src/odometry_fuser.cpp
Labels: bug, motion

#452 fix(team_comm): setup subscriptions with callback groups
  bitbots_team_communication/bitbots_team_communication/bitbots_team_communication.py
Labels: bug, misc

#358 Create setup script for single command full dev setup
  .devcontainer/devcontainer.json
  .devcontainer/zshrc
  Makefile
  bitbots_misc/bitbots_docs/docs/manual/tutorials/install_software_ros2.rst
  scripts/make_basler.sh
  scripts/make_webots.sh
  scripts/ros.plugin.sh
  scripts/setup.sh
Labels: enhancement, tooling, docs

#390 Test path planning cmd_vel conversion
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/controller.py
  bitbots_navigation/bitbots_path_planning/setup.py
  bitbots_navigation/bitbots_path_planning/test/__init__.py
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
  bitbots_navigation/bitbots_path_planning/test/test_controller.py
  bitbots_navigation/bitbots_path_planning/test/test_copyright.py
Labels: navigation, tooling

#444 Time independet ema for path planning smoothing
  bitbots_misc/system_monitor/config/config.yaml
  bitbots_misc/system_monitor/system_monitor/monitor.py
  bitbots_navigation/bitbots_localization/config/config.yaml
  bitbots_navigation/bitbots_localization/launch/localization.launch
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/controller.py
  bitbots_navigation/bitbots_path_planning/config/path_planning.yaml
Labels: enhancement, navigation

#459 test(path_planning): fix tests for new filter
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/controller.py
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
  bitbots_navigation/bitbots_path_planning/test/test_controller.py
Labels: navigation, tests

#461 Bump CI actions to resolve warning about deprecated node.js 16
  .github/workflows/ci.yml
Labels: tooling

#403 no cheering after goal by goalie
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/decisions/robot_in_own_percent_of_field.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
Labels: behavior

#464 Cleanup behavior and fix some typos
  .vscode/settings.json
  bitbots_behavior/bitbots_blackboard/.idea/.gitignore
  bitbots_behavior/bitbots_blackboard/.idea/bitbots_blackboard.iml
  bitbots_behavior/bitbots_blackboard/.idea/inspectionProfiles/profiles_settings.xml
  bitbots_behavior/bitbots_blackboard/.idea/misc.xml
  bitbots_behavior/bitbots_blackboard/.idea/modules.xml
  bitbots_behavior/bitbots_blackboard/.idea/vcs.xml
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/animation_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/costmap_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/game_status_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/kick_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/misc_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/pathfinding_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/team_data_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_behavior/bitbots_blackboard/package.xml
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/body_behavior.py
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
Labels: enhancement, behavior

#470 Small fixes for teleop script
  bitbots_misc/bitbots_teleop/scripts/teleop_keyboard.py
Labels: bug, tooling

#440 Fix duplication of team data information in robot filter
  bitbots_world_model/bitbots_robot_filter/bitbots_robot_filter/filter.py
  bitbots_world_model/bitbots_robot_filter/config/params.yaml
Labels: world model

#463 vision: remove camera cap check and unused speak capability
  bitbots_vision/bitbots_vision/params.py
  bitbots_vision/bitbots_vision/vision.py
  bitbots_vision/bitbots_vision/vision_modules/ros_utils.py
  bitbots_vision/bitbots_vision/vision_modules/yoeo/__init__.py
  bitbots_vision/bitbots_vision/vision_modules/yoeo/vision_components.py
  bitbots_vision/config/visionparams.yaml
  bitbots_vision/config/visionparams_sim.yaml
  bitbots_vision/package.xml
Labels: enhancement, vision
