Repository bit-bots/bitbots_main, pull requests merged in 2024-04, with the labels that each got.

#369 Add infos regarding git crypt to docs
  bitbots_misc/bitbots_docs/docs/manual/tutorials/competition_wifi.rst
  bitbots_misc/bitbots_docs/docs/manual/tutorials/configure_and_flash_robot.rst
Labels: tooling, docs

#372 Revert fix for wm 2023 and remove unused code
  bitbots_misc/bitbots_bringup/launch/rosbag_record.launch.py
  bitbots_misc/bitbots_bringup/launch/teamplayer.launch
  bitbots_misc/bitbots_bringup/launch/tools.launch
  bitbots_misc/bitbots_bringup/package.xml
  bitbots_vision/bitbots_vision/vision.py
  bitbots_wolfgang/wolfgang_robocup_api/launch/robocup_teamplayer.launch
  scripts/deploy/tasks/launch.py
Labels: vision

#371 Wait for camera to be available
  bitbots_misc/bitbots_basler_camera/config/camera_settings.yaml
  bitbots_misc/bitbots_basler_camera/src/basler_camera.cpp
Labels: vision

#370 Tweak gameplay
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/pathfinding_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/dribble_forward.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/kick_ball.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/stand.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/turn.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/walk.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/decisions/aligned_to_goal.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/decisions/foot_selection.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
  bitbots_lowlevel/bitbots_ros_control/launch/ros_control.launch
  bitbots_lowlevel/bitbots_ros_control/scripts/zero_on_button.py
  bitbots_misc/bitbots_utils/config/game_settings.yaml
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/record_ui.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/animation_node.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/src/hcm.cpp
  bitbots_motion/bitbots_head_mover/src/move_head.cpp
  bitbots_navigation/bitbots_path_planning/config/path_planning.yaml
  bitbots_wolfgang/wolfgang_animations/animations/kick/kick_left.json
  bitbots_wolfgang/wolfgang_animations/animations/kick/kick_right.json
  bitbots_world_model/bitbots_ball_filter/config/params.yaml
Labels: motion, behavior, navigation

#375 install_software_ros2.rst: Install vcs-tool
  bitbots_misc/bitbots_docs/docs/manual/tutorials/install_software_ros2.rst
Labels: docs

#377 Fix deploy tool debug log
  .devcontainer/zshrc
  scripts/deploy/misc.py
Labels: tooling

#378 Refer to hardware repo for wolfgang onshape link
  bitbots_wolfgang/README.md
Labels: docs, hardware

#384 working goalie behavior where he stands still
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/go_to_role_position.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/decisions/reached_goal.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
Labels: enhancement, behavior

#387 Remove odometry measurement time offset
  bitbots_navigation/bitbots_localization/include/bitbots_localization/localization.hpp
  bitbots_navigation/bitbots_localization/src/localization.cpp
Labels: navigation

#391 fix(team_comm): setup UDP broadcast address
  bitbots_team_communication/config/team_communication_config.yaml
Labels: misc

#392 Increase speaker volume to 100%
  bitbots_misc/bitbots_bringup/launch/motion.launch
Labels: misc, hardware

#393 remove cheering
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
Labels: enhancement, behavior

#396 fix cheering
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
  bitbots_wolfgang/wolfgang_animations/animations/motion/cheering.json
Labels: enhancement, behavior

#385 Feature/deploy check local repo
  .vscode/settings.json
  requirements/dev.txt
  scripts/deploy/deploy_robots.py
  scripts/deploy/misc.py
  scripts/deploy/tasks/__init__.py
  scripts/deploy/tasks/build.py
  scripts/deploy/tasks/check_local_main_repo.py
  scripts/deploy/tasks/configure.py
  scripts/deploy/tasks/install.py
  scripts/deploy/tasks/launch.py
  scripts/deploy/tasks/sync.py
  scripts/deploy_robots.py
Labels: enhancement, tooling

#397 Simplify goalie behavior
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
Labels: behavior

#398 Enable teamcomm by default in teamplayer
  bitbots_misc/bitbots_bringup/launch/teamplayer.launch
Labels: behavior

#399 Deploy: fix key error
  scripts/deploy/tasks/check_local_main_repo.py
Labels: bug, tooling

#407 Play init animation before walkready at startup
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm_blackboard.py
  bitbots_motion/bitbots_hcm/config/hcm_wolfgang.yaml
  bitbots_wolfgang/wolfgang_animations/animations/motion/init.json
Labels: bug, motion

#408 Add cheering after won game
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
Labels: enhancement, behavior

#404 reset localization after pickup in set
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/pickup.py
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/actions/pick_up.py
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/decisions/pick_up.py
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/localization.dsd
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/localization_blackboard.py
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_handler.py
Labels: behavior, navigation

#414 Behavior: Reduce log of ball filter receive
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
Labels: enhancement, behavior

#417 stiker geos to defense position when goalie handles ball
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
Labels: behavior

#409 Estimate yaw for localization reinit after fall
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/actions/initialize.py
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/localization.dsd
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/localization_blackboard.py
  bitbots_navigation/bitbots_localization_handler/package.xml
Labels: enhancement, navigation

#411 Feature/speak dsd
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/misc_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/speak.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/main.dsd
  bitbots_behavior/bitbots_body_behavior/config/LICENSE
  bitbots_behavior/bitbots_body_behavior/config/fanfare.wav
  bitbots_behavior/bitbots_body_behavior/config/ole.wav
  bitbots_behavior/bitbots_body_behavior/setup.py
  requirements/robot.txt
Labels: enhancement, behavior

#415 Limit unrealistically large motion updates
  bitbots_navigation/bitbots_localization/config/config.yaml
  bitbots_navigation/bitbots_localization/src/localization.cpp
  bitbots_navigation/bitbots_localization/src/parameters.yml
Labels: enhancement, navigation

#420 Fix: TypeError in go to defense position
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/go_to_defense_position.py
Labels: bug, behavior

#422 Cleanup body params
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
  bitbots_lowlevel/bitbots_ros_control/src/servo_bus_interface.cpp
  bitbots_misc/bitbots_bringup/config/extrinsic_calibration.rviz
Labels: enhancement

#427 Revert "Pin pytest version to <8.1"
  requirements/dev.txt
Labels: tooling
