Repository bit-bots/bitbots_main, pull requests merged in 2024-03, with the labels that each got.

#351 Fix stuck ssh deployment
  scripts/deploy/tasks/sync.py
Labels: bug, tooling

#343 Add dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/zshrc
  .github/workflows/ci.yml
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  Makefile
  bitbots_misc/bitbots_docs/docs/manual/tutorials/vscode-dev-container.rst
  bitbots_misc/bitbots_docs/docs/manual/tutorials/vscode-ros2.rst
  scripts/make_basler.sh
Labels: misc

#355 pull_request_template: Remove project checklist
  .github/pull_request_template.md
Labels: enhancement, tooling

#350 Teaching mode
  bitbots_lowlevel/bitbots_buttons/CMakeLists.txt
  bitbots_lowlevel/bitbots_buttons/config/buttons.yaml
  bitbots_lowlevel/bitbots_buttons/package.xml
  bitbots_lowlevel/bitbots_buttons/src/button_node.cpp
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/change_motor_torque.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/teaching.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm_blackboard.py
  bitbots_msgs/CMakeLists.txt
  bitbots_msgs/srv/SetTeachingMode.srv
Labels: enhancement, motion

#341 Add Animation Record UI
  .vscode/settings.json
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/game_status_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/go_to_corner_kick_position.py
  bitbots_behavior/bitbots_body_behavior/launch/behavior.launch
  bitbots_behavior/bitbots_body_behavior/launch/body_behavior.launch
  bitbots_lowlevel/bitbots_buttons/src/button_node.cpp
  bitbots_misc/bitbots_bringup/launch/motion.launch
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/__init__.py
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/animation_recording.py
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/record_ui.py
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/utils.py
  bitbots_motion/bitbots_animation_rqt/package.xml
  bitbots_motion/bitbots_animation_rqt/plugin.xml
  bitbots_motion/bitbots_animation_rqt/resource/RecordUI.ui
  bitbots_motion/bitbots_animation_rqt/resource/bitbots_animation_rqt
  bitbots_motion/bitbots_animation_rqt/setup.cfg
  bitbots_motion/bitbots_animation_rqt/setup.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/animation.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/animation_node.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/spline_animator.py
  bitbots_motion/bitbots_dynamic_kick/scripts/dummy_client.py
  bitbots_motion/bitbots_dynamic_kick/scripts/interactive_test.py
  bitbots_motion/bitbots_dynup/scripts/dummy_client.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/wait_for.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm_blackboard.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/humanoid_control_module.py
  bitbots_motion/bitbots_hcm/src/hcm.cpp
  bitbots_motion/bitbots_head_mover/src/move_head.cpp
  bitbots_motion/bitbots_moveit_bindings/bitbots_moveit_bindings/__init__.py
  bitbots_motion/bitbots_rl_motion/scripts/rl_walk.py
  bitbots_motion/bitbots_splines/bitbots_splines/smooth_spline.py
  bitbots_msgs/CMakeLists.txt
  bitbots_msgs/action/PlayAnimation.action
  bitbots_msgs/msg/Animation.msg
  bitbots_msgs/srv/AddAnimation.srv
  bitbots_wolfgang/wolfgang_animations/animations/motion/cheering.json
  bitbots_wolfgang/wolfgang_webots_sim/scripts/fix_urdf_for_webots.py
  bitbots_wolfgang/wolfgang_webots_sim/scripts/start_simulator.py
  bitbots_wolfgang/wolfgang_webots_sim/wolfgang_webots_sim/webots_robot_controller.py
  scripts/deploy/deploy_robots.py
  scripts/deploy/misc.py
  scripts/deploy/tasks/build.py
  scripts/deploy_robots.py
  scripts/ros_bind_robot.sh
Labels: motion, tooling

#362 Fix vision qos policy
  .devcontainer/Dockerfile
  bitbots_vision/bitbots_vision/vision.py
Labels: bug, vision

#365 Use the ruff vscode extension
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Labels: enhancement, tooling

#333 Goalie behaviour improvements
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/actions/go_to_block_position.py
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
  bitbots_misc/bitbots_utils/config/global_parameters.yaml
Labels: enhancement, behavior
