Repository bit-bots/bitbots_main, pull requests merged in 2024-06, with the labels that each got.

#446 Role assignment with multiple players
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/team_data_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/decisions/count_active_players_without_goalie.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/body_behavior.py
Labels: behavior

#395 Add foxglove monitoring config
  bitbots_misc/bitbots_bringup/config/monitoring.rviz
  bitbots_misc/bitbots_bringup/config/monitoring_foxglove.json
  bitbots_misc/bitbots_bringup/launch/monitoring_pc.launch
  bitbots_misc/bitbots_bringup/package.xml
Labels: enhancement, tooling

#483 Fix artifact of team comm move
  Makefile
Labels: bug, tooling

#485 Fix localization dynamic reconfigure
  bitbots_navigation/bitbots_localization/src/localization.cpp
Labels: bug, navigation

#486 Fix simulation (Kick and initial fall)
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/sim.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_wolfgang/wolfgang_animations/animations/kick/kick_left.json
  bitbots_wolfgang/wolfgang_animations/animations/kick/kick_right.json
Labels: bug, motion

#474 Imu phase reset
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/go_to.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/walk.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/decisions/secondary_state_decider.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
  bitbots_misc/bitbots_bringup/launch/rosbag_record.launch.py
  bitbots_misc/bitbots_utils/scripts/check_robot.py
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_pybullet_wolfgang.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_robot.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_chape.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_mrl_hsl.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_op3.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_rfc.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_wolfgang.yaml
  bitbots_motion/bitbots_quintic_walk/config/optimization.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_bez_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_chape_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_gankenkun_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_mrl_hsl_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_nao_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_nugus_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_op3_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_rfc_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_robotis_op2_optimized_single_steps.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_robotis_op2_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_sahrv74_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_evaluation.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_robot.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_robot_no_limits.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_viz.yaml
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_engine.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_node.hpp
  bitbots_motion/bitbots_quintic_walk/src/parameters.yaml
  bitbots_motion/bitbots_quintic_walk/src/walk_engine.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_ik.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_node.cpp
  bitbots_navigation/bitbots_localization/config/config.yaml
  bitbots_navigation/bitbots_localization/launch/localization.launch
  bitbots_navigation/bitbots_localization/src/ObservationModel.cpp
  bitbots_navigation/bitbots_localization_handler/bitbots_localization_handler/localization_dsd/decisions/game_state.py
  bitbots_navigation/bitbots_odometry/CMakeLists.txt
  bitbots_navigation/bitbots_odometry/config/odometry_config_amy.yaml
  bitbots_navigation/bitbots_odometry/config/odometry_config_default.yaml
  bitbots_navigation/bitbots_odometry/config/odometry_config_donna.yaml
  bitbots_navigation/bitbots_odometry/config/odometry_config_jack.yaml
  bitbots_navigation/bitbots_odometry/config/odometry_config_melody.yaml
  bitbots_navigation/bitbots_odometry/config/odometry_config_rory.yaml
  bitbots_navigation/bitbots_odometry/config/odometry_config_template.yaml
  bitbots_navigation/bitbots_odometry/include/bitbots_odometry/motion_odometry.hpp
  bitbots_navigation/bitbots_odometry/launch/odometry.launch
  bitbots_navigation/bitbots_odometry/package.xml
  bitbots_navigation/bitbots_odometry/src/motion_odometry.cpp
  bitbots_navigation/bitbots_odometry/src/odometry_fuser.cpp
  bitbots_navigation/bitbots_path_planning/config/path_planning.yaml
Labels: motion

#488 Fix opponent back line positioning
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/costmap_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/pathfinding_capsule.py
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
Labels: bug, behavior

#493 Always publish debug messages
  bitbots_motion/bitbots_quintic_walk/src/walk_node.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_visualizer.cpp
Labels: motion

#480 Handle negative observations / filter rework
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/body_behavior.py
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
  bitbots_misc/bitbots_bringup/launch/rosbag_record.launch.py
  bitbots_misc/bitbots_containers/hlvs/Dockerfile
  bitbots_msgs/CMakeLists.txt
  bitbots_msgs/msg/PoseWithCertaintyStamped.msg
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/map.py
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/path_planning.py
  bitbots_navigation/bitbots_path_planning/config/path_planning.yaml
  bitbots_navigation/bitbots_path_planning/package.xml
  bitbots_world_model/bitbots_ball_filter/README.md
  bitbots_world_model/bitbots_ball_filter/bitbots_ball_filter/ball_filter.py
  bitbots_world_model/bitbots_ball_filter/config/ball_filter_parameters.yaml
  bitbots_world_model/bitbots_ball_filter/package.xml
  requirements/common.txt
Labels: enhancement

#494 Robot specific walk config
  bitbots_motion/bitbots_quintic_walk/config/robots/amy.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/default.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/donna.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/jack.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/melody.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/rory.yaml
  bitbots_motion/bitbots_quintic_walk/launch/quintic_walk.launch
Labels: enhancement, motion

#499 Fix path planning tests
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
  bitbots_navigation/bitbots_path_planning/test/test_controller.py
Labels: bug

#481 Add T posing script
  bitbots_lowlevel/bitbots_ros_control/scripts/pose_check.py
  bitbots_msgs/msg/JointCommand.msg
  requirements/dev.txt
Labels: tooling, lowlevel

#502 Small walking refactoring
  .vscode/settings.json
  bitbots_motion/bitbots_quintic_walk/CMakeLists.txt
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_engine.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_ik.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_node.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_visualizer.hpp
  bitbots_motion/bitbots_quintic_walk/src/parameters.yaml
  bitbots_motion/bitbots_quintic_walk/src/walk_engine.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_ik.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_node.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_visualizer.cpp
  bitbots_navigation/bitbots_odometry/include/bitbots_odometry/motion_odometry.hpp
  bitbots_navigation/bitbots_odometry/src/motion_odometry.cpp
Labels: motion

#501 Covariance based ball seen
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/team_data_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/forget_ball.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/kick_ball.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/decisions/ball_seen.py
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
Labels: behavior

#503 Rework node referencing and pid nodes in walking
  .vscode/settings.json
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_pybullet_wolfgang.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_robot.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_chape.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_mrl_hsl.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_op3.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_rfc.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_wolfgang.yaml
  bitbots_motion/bitbots_quintic_walk/config/optimization.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_bez_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_chape_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_gankenkun_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_mrl_hsl_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_nao_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_nugus_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_op3_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_rfc_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_robotis_op2_optimized_single_steps.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_robotis_op2_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_sahrv74_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_evaluation.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_robot.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_robot_no_limits.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_viz.yaml
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_engine.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_node.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_pywrapper.hpp
  bitbots_motion/bitbots_quintic_walk/include/bitbots_quintic_walk/walk_stabilizer.hpp
  bitbots_motion/bitbots_quintic_walk/src/parameters.yaml
  bitbots_motion/bitbots_quintic_walk/src/walk_engine.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_node.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_pywrapper.cpp
  bitbots_motion/bitbots_quintic_walk/src/walk_stabilizer.cpp
Labels: motion

#504 Feature: Record every image_proc message
  bitbots_misc/bitbots_bringup/launch/rosbag_record.launch.py
Labels: enhancement, vision, tooling

#505 Small dynup refactoring
  .vscode/settings.json
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/get_walkready.py
  bitbots_misc/bitbots_teleop/scripts/teleop_keyboard.py
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/record_ui.py
  bitbots_motion/bitbots_dynup/CMakeLists.txt
  bitbots_motion/bitbots_dynup/bitbots_dynup_py/py_dynup_wrapper.py
  bitbots_motion/bitbots_dynup/config/dynup_config.yaml
  bitbots_motion/bitbots_dynup/config/dynup_optimization.yaml
  bitbots_motion/bitbots_dynup/config/dynup_sim.yaml
  bitbots_motion/bitbots_dynup/config/dynup_sim_darwin.yaml
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_engine.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_ik.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_node.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_pywrapper.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_stabilizer.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_utils.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/visualizer.hpp
  bitbots_motion/bitbots_dynup/scripts/dummy_client.py
  bitbots_motion/bitbots_dynup/src/dynup_engine.cpp
  bitbots_motion/bitbots_dynup/src/dynup_ik.cpp
  bitbots_motion/bitbots_dynup/src/dynup_node.cpp
  bitbots_motion/bitbots_dynup/src/dynup_pywrapper.cpp
  bitbots_motion/bitbots_dynup/src/dynup_stabilizer.cpp
  bitbots_motion/bitbots_dynup/src/dynup_utils.cpp
  bitbots_motion/bitbots_dynup/src/visualizer.cpp
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_quintic_walk/src/walk_node.cpp
  bitbots_msgs/action/Dynup.action
  bitbots_navigation/bitbots_odometry/include/bitbots_odometry/motion_odometry.hpp
  bitbots_navigation/bitbots_odometry/src/motion_odometry.cpp
  bitbots_navigation/bitbots_odometry/src/odometry_fuser.cpp
  bitbots_world_model/bitbots_robot_filter/bitbots_robot_filter/filter.py
Labels: motion

#500 Docs: fix TVM source install link
  bitbots_vision/docs/manual/tutorials/tvm.rst
Labels: vision, docs

#508 Update rory's extrinsic calibration
  bitbots_misc/bitbots_extrinsic_calibration/config/rory.yaml
Labels: misc

#506 Disable dynamic kick
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/kick_capsule.py
  bitbots_misc/bitbots_bringup/launch/motion.launch
  bitbots_misc/bitbots_bringup/package.xml
  bitbots_misc/bitbots_teleop/scripts/teleop_keyboard.py
  bitbots_motion/bitbots_hcm/scripts/pause.py
  bitbots_motion/bitbots_hcm/src/hcm.cpp
Labels: motion

#507 Feature: publish repo status
  .gitignore
  bitbots_misc/bitbots_bringup/launch/highlevel.launch
  bitbots_misc/bitbots_bringup/launch/rosbag_record.launch.py
  bitbots_misc/bitbots_utils/scripts/publish_workspace_status.py
  scripts/deploy/deploy_robots.py
  scripts/deploy/misc.py
  scripts/deploy/tasks/__init__.py
  scripts/deploy/tasks/check_local_main_repo.py
  scripts/deploy/tasks/check_repos.py
  workspace.repos
Labels: enhancement, tooling

#510 Add falling to rise portion of dynup
  bitbots_motion/bitbots_dynup/src/dynup_engine.cpp
  bitbots_motion/bitbots_dynup/src/dynup_ik.cpp
  bitbots_motion/bitbots_dynup/src/dynup_node.cpp
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/squat.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/squat.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm_blackboard.py
Labels: motion

#514 Remove pause node
  bitbots_motion/bitbots_hcm/bitbots_hcm/humanoid_control_module.py
  bitbots_motion/bitbots_hcm/launch/hcm.launch
  bitbots_motion/bitbots_hcm/scripts/pause.py
Labels: motion
