Repository bit-bots/bitbots_main, pull requests merged in 2024-07, with the labels that each got.

#522 Deploytool: Fix wrong warnings and small improvements
  scripts/deploy/deploy_robots.py
  scripts/deploy/tasks/build.py
  scripts/deploy/tasks/check_repos.py
Labels: bug, tooling

#521 Integration weekend tunes
  bitbots_motion/bitbots_dynup/CMakeLists.txt
  bitbots_motion/bitbots_dynup/bitbots_dynup_py/py_dynup_wrapper.py
  bitbots_motion/bitbots_dynup/config/dynup_config.yaml
  bitbots_motion/bitbots_dynup/config/dynup_sim.yaml
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_ik.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_node.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_pywrapper.hpp
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/visualizer.hpp
  bitbots_motion/bitbots_dynup/msg/DynupIkOffset.msg
  bitbots_motion/bitbots_dynup/src/dynup_ik.cpp
  bitbots_motion/bitbots_dynup/src/dynup_node.cpp
  bitbots_motion/bitbots_dynup/src/dynup_pywrapper.cpp
  bitbots_motion/bitbots_dynup/src/dynup_stabilizer.cpp
  bitbots_motion/bitbots_dynup/src/visualizer.cpp
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/decisions/fallen.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm_blackboard.py
  bitbots_motion/bitbots_hcm/config/hcm_wolfgang.yaml
  bitbots_motion/bitbots_hcm/src/hcm.cpp
  bitbots_motion/bitbots_quintic_walk/config/robots/amy.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/rory.yaml
  bitbots_motion/bitbots_quintic_walk/scripts/generate_walkready_animation.py
  bitbots_motion/bitbots_quintic_walk/src/walk_node.cpp
  bitbots_wolfgang/wolfgang_animations/animations/falling/falling_back.json
  bitbots_wolfgang/wolfgang_animations/animations/falling/falling_left.json
  bitbots_wolfgang/wolfgang_animations/animations/falling/falling_right.json
  bitbots_wolfgang/wolfgang_animations/animations/goalie/goalie_falling_center.json
  bitbots_wolfgang/wolfgang_animations/animations/goalie/goalie_falling_left.json
  bitbots_wolfgang/wolfgang_animations/animations/goalie/goalie_falling_right.json
  bitbots_wolfgang/wolfgang_animations/animations/goalie/goalie_prepare_arms.json
  bitbots_wolfgang/wolfgang_animations/animations/kick/kick_left.json
  bitbots_wolfgang/wolfgang_animations/animations/kick/kick_right.json
  bitbots_wolfgang/wolfgang_animations/animations/misc/cheering.json
  bitbots_wolfgang/wolfgang_animations/animations/misc/init.json
  bitbots_wolfgang/wolfgang_animations/animations/misc/init_sim.json
  bitbots_wolfgang/wolfgang_animations/animations/misc/startup.json
  bitbots_wolfgang/wolfgang_animations/animations/misc/verbeugen.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/record.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/sit.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/sit_slow.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/stand_up_back.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/stand_up_front.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/turning_back_left.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/turning_back_right.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/walkready.json
  bitbots_wolfgang/wolfgang_animations/animations/motion/walkready_sim.json
  bitbots_wolfgang/wolfgang_animations/animations/standup/stand_up_back.json
  bitbots_wolfgang/wolfgang_animations/animations/standup/stand_up_front.json
  bitbots_wolfgang/wolfgang_animations/animations/standup/turning_front_left.json
  bitbots_wolfgang/wolfgang_animations/animations/standup/turning_front_right.json
  bitbots_wolfgang/wolfgang_animations/record.json
  bitbots_wolfgang/wolfgang_description/urdf/robot.urdf
  sync_includes_wolfgang_nuc.yaml
Labels: motion

#465 Feature/technical challenge vision
  bitbots_misc/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision/__init__.py
  bitbots_misc/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision.py
  bitbots_misc/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision_params.py
  bitbots_misc/bitbots_technical_challenge_vision/config/range.yaml
  bitbots_misc/bitbots_technical_challenge_vision/launch/vision.launch
  bitbots_misc/bitbots_technical_challenge_vision/package.xml
  bitbots_misc/bitbots_technical_challenge_vision/resource/bitbots_technical_challenge_vision
  bitbots_misc/bitbots_technical_challenge_vision/setup.cfg
  bitbots_misc/bitbots_technical_challenge_vision/setup.py
  sync_includes_wolfgang_nuc.yaml
Labels: vision

#531 Animation stabilization
  bitbots_misc/bitbots_utils/bitbots_utils/transforms.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/animation.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/animation_node.py
  bitbots_motion/bitbots_animation_server/bitbots_animation_server/spline_animator.py
  requirements/robot.txt
Labels: enhancement, motion

#535 Limit head pid
  bitbots_lowlevel/bitbots_ros_control/config/wolfgang.yaml
Labels: lowlevel

#533 Better defaults in game settings script
  bitbots_misc/bitbots_parameter_blackboard/bitbots_parameter_blackboard/game_settings.py
Labels: enhancement, tooling

#534 Limit diagonal speed in path planning
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/controller.py
  bitbots_navigation/bitbots_path_planning/config/path_planning_parameters.yaml
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
  bitbots_navigation/bitbots_path_planning/test/test_controller.py
Labels: enhancement, navigation

#529 refactor(tts): use `bitbots_tts` consistently
  bitbots_misc/bitbots_tts/bitbots_tts/tts.py
  bitbots_misc/bitbots_tts/launch/tts.launch
  bitbots_misc/bitbots_tts/scripts/say.sh
  bitbots_misc/bitbots_tts/scripts/speak_ip.py
  bitbots_misc/bitbots_tts/setup.py
  bitbots_misc/bitbots_utils/scripts/speak_ip.py
Labels: enhancement, misc

#537 Fix walk kick and utilize it
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/kick_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/kick_ball.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/turn.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
  bitbots_misc/bitbots_extrinsic_calibration/config/amy.yaml
  bitbots_misc/bitbots_extrinsic_calibration/config/donna.yaml
  bitbots_misc/bitbots_parameter_blackboard/bitbots_parameter_blackboard/game_settings.py
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_pybullet_wolfgang.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_robot.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_chape.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_mrl_hsl.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_op3.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_rfc.yaml
  bitbots_motion/bitbots_quintic_walk/config/deep_quintic_webots_wolfgang.yaml
  bitbots_motion/bitbots_quintic_walk/config/optimization.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/amy.yaml
  bitbots_motion/bitbots_quintic_walk/config/robots/jack.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_bez_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_chape_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_gankenkun_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_mrl_hsl_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_nao_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_nugus_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_op3_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_rfc_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_robotis_op2_optimized_single_steps.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_robotis_op2_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_sahrv74_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_robot.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_robot_no_limits.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_simulator.yaml
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_viz.yaml
  bitbots_motion/bitbots_quintic_walk/src/parameters.yaml
  bitbots_motion/bitbots_quintic_walk/src/walk_engine.cpp
  bitbots_navigation/bitbots_localization/config/config.yaml
  bitbots_navigation/bitbots_localization/src/ObservationModel.cpp
  bitbots_navigation/bitbots_localization/src/map.cpp
  bitbots_navigation/bitbots_path_planning/config/path_planning_parameters.yaml
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
  bitbots_navigation/bitbots_path_planning/test/test_controller.py
Labels: enhancement, motion, behavior, navigation

#541 Complain via TTS while getting up
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/speak.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/speak.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
Labels: enhancement, behavior, misc

#543 Speak ws status
  .vscode/settings.json
  bitbots_misc/bitbots_tts/bitbots_tts/tts.py
  bitbots_misc/bitbots_utils/scripts/publish_workspace_status.py
Labels: enhancement, misc

#532 feat(devcontainer): add `deploy_robots.py` aliases
  scripts/ros.plugin.sh
Labels: enhancement, tooling

#544 Fix HCM hardware error detection
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
  bitbots_motion/bitbots_hcm/bitbots_hcm/humanoid_control_module.py
Labels: bug, motion

#538 docs: add competition preparation checklist
  bitbots_misc/bitbots_docs/docs/manual/testing/competition_preparation.rst
Labels: docs

#545 fix(devcontainer): correctly quote vars in aliases
  scripts/ros.plugin.sh
Labels: bug, tooling

#548 Deploy: fetch remote if GitHub is available
  scripts/deploy/tasks/check_repos.py
Labels: enhancement, tooling

#549 fix(behavior): go into walkready after cheering
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
Labels: bug, behavior

#550 Improve code style of ros_control
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/bitfoot_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/button_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/core_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/dynamixel_servo_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/imu_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/pressure_converter.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/servo_bus_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/wolfgang_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/src/bitfoot_hardware_interface.cpp
  bitbots_lowlevel/bitbots_ros_control/src/button_hardware_interface.cpp
  bitbots_lowlevel/bitbots_ros_control/src/core_hardware_interface.cpp
  bitbots_lowlevel/bitbots_ros_control/src/dynamixel_servo_hardware_interface.cpp
  bitbots_lowlevel/bitbots_ros_control/src/imu_hardware_interface.cpp
  bitbots_lowlevel/bitbots_ros_control/src/pressure_converter.cpp
  bitbots_lowlevel/bitbots_ros_control/src/servo_bus_interface.cpp
  bitbots_lowlevel/bitbots_ros_control/src/wolfgang_hardware_interface.cpp
Labels: lowlevel

#555 Fix robot filter config
  bitbots_world_model/bitbots_robot_filter/config/params.yaml
Labels: bug, world model

#557 Fix path planning tests
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
Labels: bug, navigation

#551 Fix length of manual_power_on field in CORE docs
  bitbots_misc/bitbots_docs/docs/manual/hardware/electronics/wolfgang_core.rst
Labels: docs

#553 ros_control: fix power status change after button press
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/core_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/src/core_hardware_interface.cpp
Labels: lowlevel

#554 ros_control: increase startup time afte power cycle to handle IMU boot
  bitbots_lowlevel/bitbots_ros_control/config/wolfgang.yaml
  bitbots_lowlevel/bitbots_ros_control/include/bitbots_ros_control/wolfgang_hardware_interface.hpp
  bitbots_lowlevel/bitbots_ros_control/src/wolfgang_hardware_interface.cpp
Labels: lowlevel

#560 Rory: Extrinsic Calibration
  bitbots_misc/bitbots_extrinsic_calibration/config/rory.yaml
Labels: motion

#556 Extrinsic calibration and launch files
  bitbots_misc/bitbots_bringup/launch/viz_monitoring.launch
  bitbots_misc/bitbots_docs/docs/manual/tutorials/extrinsic_calibration.rst
  bitbots_misc/bitbots_extrinsic_calibration/config/donna.yaml
  bitbots_misc/bitbots_extrinsic_calibration/config/extrinsic_calibration.rviz
  bitbots_misc/bitbots_extrinsic_calibration/launch/viz_extrinsic_calibration.launch
Labels: enhancement, vision, tooling

#564 ros_control: use resize instead of reserve
  bitbots_lowlevel/bitbots_ros_control/src/servo_bus_interface.cpp
Labels: lowlevel

#566 Dynup: reduce timeout when walking is not running
  bitbots_motion/bitbots_dynup/src/dynup_engine.cpp
Labels: motion

#559 No negative observations for close balls
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/pathfinding_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/go_to_ball.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/turn.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
  bitbots_misc/bitbots_extrinsic_calibration/config/rory.yaml
  bitbots_misc/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision/.gitignore
  bitbots_misc/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision/bitbots_technical_challenge_vision_params.py
  bitbots_motion/bitbots_quintic_walk/config/robots/rory.yaml
  bitbots_navigation/bitbots_path_planning/config/path_planning_parameters.yaml
  bitbots_wolfgang/wolfgang_animations/animations/standup/stand_up_back.json
  bitbots_world_model/bitbots_ball_filter/bitbots_ball_filter/ball_filter.py
Labels: bug, world model

#570 Docs: fix extrinsic_calibration tutorial command for real this time!
  bitbots_misc/bitbots_docs/docs/manual/tutorials/extrinsic_calibration.rst
Labels: docs

#571 do not consider network interfaces in the diagnostics
  bitbots_misc/system_monitor/config/config.yaml
  bitbots_misc/system_monitor/system_monitor/monitor.py
Labels: bug

#572 Update path planning test snapshots
  bitbots_navigation/bitbots_path_planning/test/__snapshots__/test_controller.ambr
Labels: tests

#568 Fix check_repos.py: Silently check github connection
  requirements/dev.txt
  scripts/deploy/tasks/check_repos.py
Labels: tooling

#581 chore: adjust extrinsic calibration on jack
  bitbots_misc/bitbots_extrinsic_calibration/config/jack.yaml
Labels: vision

#582 Improve ball search
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/actions/go_to.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
Labels: enhancement, behavior

#590 Tune ball approach
  bitbots_behavior/bitbots_body_behavior/config/body_behavior.yaml
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/controller.py
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/map.py
  bitbots_navigation/bitbots_path_planning/bitbots_path_planning/path_planning.py
  bitbots_navigation/bitbots_path_planning/config/path_planning_parameters.yaml
  bitbots_world_model/bitbots_robot_filter/config/params.yaml
Labels: behavior, navigation
