Repository bit-bots/bitbots_main, pull requests merged in 2024-11, with the labels that each got.

#611 Fix system monitor launch
  bitbots_misc/system_monitor/config/plotjuggler_layout.xml
  bitbots_misc/system_monitor/launch/viz.launch
  bitbots_misc/system_monitor/package.xml
  bitbots_misc/system_monitor/setup.py
Labels: bug, misc

#613 fix variable name that leads to wrong diagnosticle name for CPU and M…
  bitbots_misc/system_monitor/system_monitor/monitor.py
Labels: bug, misc

#614 Move simpleeval to common requirements
  requirements/common.txt
  requirements/robot.txt
Labels: motion, misc

#615 Fix animation record ui crash after a non numerical text input
  .vscode/settings.json
  bitbots_motion/bitbots_animation_rqt/bitbots_animation_rqt/record_ui.py
Labels: bug, motion

#617 Fix walking startup in webots
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_simulator.yaml
Labels: bug, simulation

#618 fix initial walk ready transition in simulation
  .vscode/settings.json
  bitbots_motion/bitbots_dynup/CMakeLists.txt
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_ik.hpp
  bitbots_motion/bitbots_dynup/src/dynup_ik.cpp
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm.dsd
Labels: motion

#620 Sim footsensor phase reset and PIDs
  bitbots_motion/bitbots_quintic_walk/config/walking_wolfgang_simulator.yaml
  bitbots_simulation/bitbots_webots_sim/bitbots_webots_sim/webots_robot_controller.py
Labels: motion, simulation

#619 Feature/gpu system monitor
  bitbots_misc/system_monitor/config/config.yaml
  bitbots_misc/system_monitor/system_monitor/cpus.py
  bitbots_misc/system_monitor/system_monitor/gpu.py
  bitbots_misc/system_monitor/system_monitor/monitor.py
  bitbots_msgs/msg/Workload.msg
  requirements/robot.txt
Labels: enhancement, misc

#608 defender checks if goalie is active and acts like goalie if needed
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/team_data_capsule.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/decisions/goalie_active.py
  bitbots_behavior/bitbots_body_behavior/bitbots_body_behavior/behavior_dsd/main.dsd
Labels: behavior
