Repository bit-bots/bitbots_main, pull requests merged in 2025-01, with the labels that each got.

#643 Fix pybullet sim package.xml leading to warning during build
  bitbots_simulation/bitbots_pybullet_sim/package.xml
Labels: bug, simulation

#646 Fix bio_ik for iron
  workspace.repos
Labels: high priority, misc

#651 Fixed non-hcm dynup requests messing with standup.
  .vscode/settings.json
  bitbots_motion/bitbots_dynup/include/bitbots_dynup/dynup_node.hpp
  bitbots_motion/bitbots_dynup/src/dynup_node.cpp
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/actions/play_animation.py
  bitbots_motion/bitbots_hcm/src/hcm.cpp
  bitbots_msgs/action/Dynup.action
  bitbots_msgs/msg/JointCommand.msg
Labels: bug, motion

#656 Use seperate repo for the tf_buffer
  bitbots_misc/bitbots_tf_buffer/CMakeLists.txt
  bitbots_misc/bitbots_tf_buffer/README.md
  bitbots_misc/bitbots_tf_buffer/bitbots_tf_buffer/__init__.py
  bitbots_misc/bitbots_tf_buffer/package.xml
  bitbots_misc/bitbots_tf_buffer/setup.py
  bitbots_misc/bitbots_tf_buffer/src/bitbots_tf_buffer.cpp
  workspace.repos
Labels: misc

#649 Build with release
  bitbots_behavior/bitbots_blackboard/CMakeLists.txt
  bitbots_lowlevel/bitbots_buttons/CMakeLists.txt
  bitbots_lowlevel/bitbots_ros_control/CMakeLists.txt
  bitbots_misc/bitbots_basler_camera/CMakeLists.txt
  bitbots_misc/bitbots_basler_camera/package.xml
  bitbots_misc/bitbots_extrinsic_calibration/CMakeLists.txt
  bitbots_misc/bitbots_extrinsic_calibration/package.xml
  bitbots_misc/bitbots_robot_description/CMakeLists.txt
  bitbots_misc/bitbots_utils/CMakeLists.txt
  bitbots_misc/bitbots_utils/package.xml
  bitbots_motion/bitbots_dynamic_kick/CMakeLists.txt
  bitbots_motion/bitbots_dynup/CMakeLists.txt
  bitbots_motion/bitbots_hcm/CMakeLists.txt
  bitbots_motion/bitbots_head_mover/CMakeLists.txt
  bitbots_motion/bitbots_moveit_bindings/CMakeLists.txt
  bitbots_motion/bitbots_moveit_bindings/package.xml
  bitbots_motion/bitbots_quintic_walk/CMakeLists.txt
  bitbots_motion/bitbots_rl_motion/CMakeLists.txt
  bitbots_motion/bitbots_splines/CMakeLists.txt
  bitbots_motion/bitbots_splines/package.xml
  bitbots_msgs/CMakeLists.txt
  bitbots_navigation/bitbots_localization/CMakeLists.txt
  bitbots_navigation/bitbots_odometry/CMakeLists.txt
  bitbots_navigation/bitbots_odometry/package.xml
  bitbots_robot/wolfgang_animations/CMakeLists.txt
  bitbots_robot/wolfgang_description/CMakeLists.txt
  bitbots_robot/wolfgang_moveit_config/CMakeLists.txt
  bitbots_robot/wolfgang_moveit_config/docs/_static/logo.png
  bitbots_robot/wolfgang_moveit_config/docs/conf.py
  bitbots_robot/wolfgang_moveit_config/docs/index.rst
  bitbots_simulation/bitbots_pybullet_sim/CMakeLists.txt
  bitbots_simulation/bitbots_pybullet_sim/src/bitbots_pybullet_sim/ros_interface.py
  bitbots_simulation/bitbots_webots_sim/CMakeLists.txt
  bitbots_team_communication/bitbots_team_communication/CMakeLists.txt
Labels: bug, misc

#658 PEP 585 compliance
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/costmap_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/team_data_capsule.py
  bitbots_behavior/bitbots_blackboard/bitbots_blackboard/capsules/world_model_capsule.py
  bitbots_misc/bitbots_tts/bitbots_tts/tts.py
  bitbots_misc/bitbots_utils/bitbots_utils/utils.py
  bitbots_motion/bitbots_hcm/bitbots_hcm/hcm_dsd/hcm_blackboard.py
  bitbots_team_communication/bitbots_team_communication/bitbots_team_communication/bitbots_team_communication.py
  bitbots_team_communication/bitbots_team_communication/bitbots_team_communication/communication.py
  bitbots_team_communication/bitbots_team_communication/bitbots_team_communication/converter/message_to_team_data_converter.py
  bitbots_team_communication/bitbots_team_communication/bitbots_team_communication/converter/state_to_message_converter.py
  bitbots_vision/bitbots_vision/vision.py
  bitbots_vision/bitbots_vision/vision_modules/yoeo/model_config.py
  bitbots_vision/bitbots_vision/vision_modules/yoeo/object_manager.py
  bitbots_vision/bitbots_vision/vision_modules/yoeo/utils.py
  bitbots_vision/bitbots_vision/vision_modules/yoeo/yoeo_handlers.py
Labels: misc
